In [18]:
#import packages that I  need
import numpy as np
import pandas as pd

#web scraping
import requests
from bs4 import BeautifulSoup

#make it so that I can download the csv file afterwards
from google.colab import files
#get OS to find working directory
import os

I am going to scrape two bits of data here. First is a wikipedia article showing CO2 emissions emitted by each energy source per unit of electricity generated (KWH). The data is in a table already.

The second bit of data is a wikipedia article showing the relative cost for each energy source. The data is not in a table this time.

I have used wikipedia because both of the underlying sources of data were in PDFs which I was unable to scrape.

In [19]:
#set URL of 1st page I want to scrape
URL1 = "https://en.wikipedia.org/wiki/Emission_intensity"

#HTML request
html = requests.get(URL1)
soup = BeautifulSoup(html.content, 'html.parser')

In [20]:
# Read the different tables in the link
tables = pd.read_html('https://en.wikipedia.org/wiki/Emission_intensity')

In [21]:
# Get the table I need (the 1st one)
tables[0]

      Technology  ... 50th percentile (g CO2-eq/kWhe)
0  Hydroelectric  ...                               4
1           Wind  ...                              12
2        Nuclear  ...                              16
3        Biomass  ...                             230
4  Solar thermal  ...                              22
5     Geothermal  ...                              45
6       Solar PV  ...                              46
7    Natural gas  ...                             469
8           Coal  ...                            1001

[9 rows x 3 columns]

In [22]:
# Turn the table into a dataframe so I can start changing it
emissions = tables[0]

In [23]:
# Rename the column titles 
emissions.columns = ['Technology','Description', 'CO2 Emission Value']
emissions.head(5)

      Technology                          Description  CO2 Emission Value
0  Hydroelectric                            reservoir                   4
1           Wind                              onshore                  12
2        Nuclear  various generation II reactor types                  16
3        Biomass                              various                 230
4  Solar thermal                     parabolic trough                  22

In [57]:
# save as csv
emissions.to_csv("week7_C02EmissionValue.csv")

In [ ]:
a

was planning on scraping another page but some of the data was on the wikipedia page, and the rest was on a pdf so I did it manually.

In [ ]:
#######################################################################

In [47]:
# Set URL of second page I want to scrape
URL2 = "https://en.wikipedia.org/wiki/Cost_of_electricity_by_source"

#HTML request
html = requests.get(URL2)
soup = BeautifulSoup(html.content, 'html.parser')

In [55]:
# The data is included within a 'ul' element
# Get all ul elements
# I only want the 9th 'section' of data
soup_ul = soup.find_all("ul")[8]
soup_ul

<ul><li>gas/oil <a href="/wiki/Combined_cycle_power_plant" title="Combined cycle power plant">combined cycle power plant</a> - $1000/kW (2019)<sup class="reference" id="cite_ref-aeo_11-0"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li>combustion turbine - $710/kW (2020)<sup class="reference" id="cite_ref-aeo_11-1"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li>onshore wind - $1600/kW (2019)<sup class="reference" id="cite_ref-aeo_11-2"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li>offshore wind - $6500/kW (2019)<sup class="reference" id="cite_ref-aeo_11-3"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li>solar PV (fixed) - $1060/kW (utility),<sup class="reference" id="cite_ref-nrel_12-0"><a href="#cite_note-nrel-12">[12]</a></sup> $1800/kW (2019)<sup class="reference" id="cite_ref-aeo_11-4"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li>solar PV (tracking)- $1130/kW (utility)<sup class="reference" id="cite_ref-nrel_12-1"><a href="#cite_note-nrel-12">[12]</a></sup> $2000/kW (2019)<sup class="reference" id="cite_ref-aeo_11-5"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li>battery storage power - $1380/kW (2020)<sup class="reference" id="cite_ref-aeo_11-6"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li>conventional hydropower - $2752/kW (2020)<sup class="reference" id="cite_ref-aeo_11-7"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li><a href="/wiki/Geothermal_energy" title="Geothermal energy">geothermal</a> - $2800/kW (2019)<sup class="reference" id="cite_ref-aeo_11-8"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li>coal (with SO2 and NOx controls)- $3500–3800/kW<sup class="reference" id="cite_ref-13"><a href="#cite_note-13">[13]</a></sup></li>
<li>advanced nuclear - $6000/kW (2019)<sup class="reference" id="cite_ref-aeo_11-9"><a href="#cite_note-aeo-11">[11]</a></sup></li>
<li>fuel cells - $7200/kW (2019)<sup class="reference" id="cite_ref-aeo_11-10"><a href="#cite_note-aeo-11">[11]</a></sup></li></ul>

In [53]:
soup_1 = soup.find_all("div", class_="reference")
soup_1

[]

In [56]:
# Turn it into text
soup_ul.text

'gas/oil combined cycle power plant - $1000/kW (2019)[11]\ncombustion turbine - $710/kW (2020)[11]\nonshore wind - $1600/kW (2019)[11]\noffshore wind - $6500/kW (2019)[11]\nsolar PV (fixed) - $1060/kW (utility),[12] $1800/kW (2019)[11]\nsolar PV (tracking)- $1130/kW (utility)[12] $2000/kW (2019)[11]\nbattery storage power - $1380/kW (2020)[11]\nconventional hydropower - $2752/kW (2020)[11]\ngeothermal - $2800/kW (2019)[11]\ncoal (with SO2 and NOx controls)- $3500–3800/kW[13]\nadvanced nuclear - $6000/kW (2019)[11]\nfuel cells - $7200/kW (2019)[11]'

In [7]:
df.to_csv("week7_C02EmissionValue.csv")